/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

body {
  background:#fbf4e7 image-url('patterns/shattered.png') ;
}

.red_text {
  color: #FF0000;
}

.green_text {
  color: #008000;
}