<table class="table table-bordered">
    <thead>
        <tr>
            <th>推薦日期</th>
            <th>股票名稱</th>
            <th>進場時間</th>
            <th>進場價位</th>
            <th>目標價位</th>
            <th>今日收盤價</th>
            <th>損益</th>
            <th>報酬率</th>
            <th>附加說明</th>
            
        </tr>
    </thead>
</table>