<footer class="container" style="margin-top: 100px;">
  <p class="text-center">
    Designed by <a href="http://lyenliang-blog.logdown.com/" target=_new>lyenliang</a>
  </p>
  <p class="text-center">
    <a href="https://github.com/lyenliang/StockScraper/issues" target=_new>問題回報</a>
  </p>
</footer>